@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Angela's Book Store'</h1>
    <p>Here you will find an abundance of books from a variety of genres and authors.</p>
    <p>Come and explore my collection and maybe you will find your next great read!</p>
</div>
