@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-6">to</h2>
    <h1 class="display-5">Angela's Book Store</h1><br />

    <p>Here you will find an abundance of books from a variety of genres and authors.</p>
    <p>Come and explore my collection of books and manga. Maybe you will find your next great read!</p>
</div>
